body {
    
    background-color: #1a1a1a;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #0e1313, #4737d2) 
  }
   
  ::-webkit-scrollbar-thumb{
    color: blue;
    border-radius: 2px;
    background-color: rgb(10, 10, 10);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(58, 25, 179, 0.822); 
  }

  /* main-section */
main{
  max-width: 1500px;
  margin: auto;
  padding: 0;
  color: white;
  margin-top: 50px;
  background-color: #1a1a1a;
} 

/* web-front */

.webfront{
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-position-y: 55%;
  background-position-x: 1%;
  width: 100%;
  height: 1500px;
  background-image: url("../images/2.WEB-DEVELOPMENT/web\ Rocket.png");
  background-repeat: no-repeat;
  background-size: 350px 650px;
  color: white;
}


.webfront h1{
  text-shadow: 5px 5px rgba(0, 0, 0, 0.466);
  font-weight: 900;
  text-align: center;
  margin-top: 40px;
  font-size: 61px;
  z-index: 1;

}

.webfront h2{
  top: 250px;
  position: absolute;
  text-align: center;
  font-size: 35px;
  left: 9%;
  z-index: 2;
  width: 22.25%;
  color: rgb(255, 255, 255);
}

.webfront img{
  width: 68.33%;
  float: right;
  height: 700px;
  object-fit: fill;
  position: absolute;
  left: 25.48%;
  z-index: 0;
  top: 70px;
  
}

.webfront p{
  position: absolute;
  top: 725px;
  left: 57.9%;
  width: 30.8%;
  font-family: roboto;
  height: 350px;
  padding-left: 20px;
  font-size: 21px;
  border-left: 15px solid #8D5FFF;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease;

}
.webfront #breef{
  width: 60%;
  padding: 0;
  position: absolute;
  left: 20%;  
  margin: 0;
  font-size: 16px;
  top: 1161px;
  border: none;
  font-family: Roboto;

  
}




@media only screen and (min-width:1200px){

  .webfront{
    height: 1500px;
    background-position-y: 65%;
    background-size: 400px 700px;
  }
 
  .webfront h1{
    font-size: 61px;
  }

  .webfront h2{
    font-size: 51px;
  }



  .webfront img{
    height: 700px;
    width: 933px;
  }
}




/* services section */

.services{
  margin: auto;
  padding: 0;
  width: 90%;
  display: block;
  flex-direction: column;
  position: relative;
}

.services header{
  font-size: 76px;
  font-style: italic;
  margin: 0;
  padding: 0;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 25px;

}

.services section{
  display: flow-root;
  color: black;
  flex-direction: column;
  position: relative;
  width: 100%;
  border-radius: 80px;
  margin-bottom: 20px;
  height: 300px;
  background: #767676;
}

.services section img{
  float: left;
  width: 40%;
  margin-left: 50px;
  height: 95%;

}

.services-block{
  width: 47%;
  position: absolute;
  right: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}

.services-block>h2{
  width: 100%;
  text-align: center;
  font-size: 43px;
}


.services button {
  border-radius: 30px;
  z-index: 1;
  background-color: #5e5452;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  transition: 0.6s ease;
  transform: perspective(1000);

}

.services button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

.services button a:after {
  content: '\2192';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.services button:hover a {
  padding-right: 25px;
  
}

.services button:hover a:after {
  opacity: 1;
  right: 0;
}
.services button:hover{
  background: linear-gradient(to right, pink, rgb(223, 17, 137)); 
}

.services #one{
  background: transparent;
}

#one img{
  float: right;
  margin-right: 50px;
}

.services #one>.services-block{
  left: 3%;
}

.services #one h2{
  color: white;
}


#one button:hover{
  background: linear-gradient(to right, rgba(106, 68, 177, 0.308), rgb(81, 8, 199)); 

}


@media only screen and (max-width: 800px){
  .webfront h1{
    font-size: 35px;

  }

  .webfront h2{
    font-size: 24px;
  }

  .webfront img{
    height: 600px;
    width: 73%;
  }

  .webfront p{
    top: 670px;
    font-size: 18px ;
  }

  .webfront #breef{
    width: 80%;
    left: 10%;
  }
}

@media only screen and (max-width: 500px){
  .webfront h1 {
    font-size: 24px;
    margin-top: 30px;
  }

  .webfront img {
    height: 600px;
    width: 100%;
    top: 20PX;
    left: 0;
  }

  .webfront h2 {
    font-size: 24px;
    top: 530px;
    left: 40%;
    width: 60%;
  }

  .webfront {
    background-size: 238px 350px;
    background-position-y: 48%;
  }

  .webfront p {
    top: 620px;
    font-size: 16px;
    text-align: justify;
    padding-left: 7px;
    border-left: 10px solid #8D5FFF;
  }

  .webfront #breef {
    top: 1050px;
    width: 90%;
    left: 5%;
    text-align: justify;
  }

  .services section {
    border-radius: 30px;
  }

  .services header {
    font-size: 50px;
  }

  .services section img {
    float: left;
    width: 80%;
    margin-left: 10%;
    height: 60%;
  }
  
  .services-block {
    width: 93%;
    position: absolute;
    right: 3%;
    height: 40%;
    top: 60%;
  }

  .services-block>h2 {
    font-size: 24px;
    margin: 0;
  }

  .services button {
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    width: 130px;
  }

  #one img {
    float: right;
    margin-right: 10%;
  }
}

@media only screen and (max-width:400px){
  .webfront {
    background-size: 200px 360px;
    background-position-y: 50%;
  }

  .services header {
    font-size: 45px;
  }

  .services {
    width: 100%;
  }

  .services button {
    border-radius: 5px;
  }

  .services section {
    border-radius: 15px;
  }
}




/* web development added new section */

.newdiv{
  width: 100%;
  height: 350px;
  position: relative;
  margin: 40px 0px;
  color: black;
}

.newdiv img{
  width: 100%;
  height: 100%;
}

.newdiv p{
  font-size: 18px;
  display: block;
  position: absolute;
  width: 21%;
  top: 20%;
  text-align: center;
}

.newdiv p span{
  font-size: 51px;
  display: block;
  line-height: 40px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.newdiv #infographic1{
  left: 7%;
}

.newdiv #infographic2{
  left: 40%;
}


.newdiv #infographic3{
  left: 72%;
}


@media only screen and (max-width:1050px){
  .newdiv p span {
    margin-bottom: 10px;
  }
}



/* <!-- how website helps buiseness --> */

.howbuiseness{
  position: relative;
  width: 100%;
  
}

.howbuiseness header{
  font-size: 45px;
  text-align: center;
  margin: 0px 50px;
} 

.howbuiseness .howbuiseness-scroll{
  width: 90%;
  overflow: hidden;
  margin: 0px auto;
  
}

.howbuisenessitem{
  display: flex;
  width: 400%;
  transition: 0.8s ease;
  perspective: 1000;
}

.howbuisenessitem .owl{
  flex-basis: 100%;
  display: flex;
}

.howright,
.howleft{
  position: absolute;
  color: white;
  padding: 10px;
  font-size: 35px;
  top: 50%;
  transform: translateY(-25%);
  cursor: pointer;
  align-items: center;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.howright:hover,
.howleft:hover{
  background-color: blue;
}

.howleft{
  left: 2%;
}

.howright{
  right: 2%;
}


.howbuisenessitem .content{
  display: block;
  margin: 5%;
  min-height: 220px;
  width: 30%;
  background-color: #0A0A0A;
  box-shadow: 10px 10px #8D5FFF;
  border-radius: 50px;
  position: relative;
  justify-content: center;
}

.howbuisenessitem .content-img{
  width: 45%;
  height: 40%;
  position: absolute;
  padding: 5%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.howbuisenessitem .content-img img{
  width: 100%;
  height: 100%;
}

.howbuisenessitem .content h3{
  position: absolute;
  display: block;
  width: 100%;
  bottom: 10%;
  color: white;
  text-align:center;
  
}


@media only screen and (max-width: 800px){
  .newdiv p span {
    margin-bottom: 0px;
    font-size: 35px;
  }

  .newdiv {
    height: 300px;
  }

  .newdiv p {
    font-size: 16px;
    width: 22.25%;
  }

  .newdiv #infographic1 {
    left: 6.7%;
  }

  .newdiv #infographic2 {
    left: 39%;
  }

  .newdiv #infographic3 {
    left: 71.2%;
  }
}

@media only screen and (max-width:500px){
  .newdiv p span {
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 22px;
  }

  .newdiv {
    height: 220px;
  }

  .newdiv p {
    font-size: 12px;
    width: 22.25%;
    top: 11%;
  }

  .howbuiseness header {
    margin: 0px;
    font-size: 30px;
  }

  .howleft {
    left: 0%;
    padding: 5px;
  }

  .howright {
    right: 0%;
    padding: 5px;
  }

  .howbuisenessitem .content {
    box-shadow: 5px 5px #8d5fff;
    border-radius: 20px;
    min-height: 150px;
  }

  .howbuisenessitem .content h3 {
    margin: 0;
    top: 60%;
    font-size: 14px;
  }

}

@media only screen and (max-width: 400px){

  .newdiv {
    height: 180px;
  }

  .newdiv p {
    font-size: 8px;
    top: 12%;
  }

  .howbuiseness header {
    font-size: 25px;
  }
  
}





/* thing to consider before going live section */

/* why choose us section card */


.why-us-card{
  width: 100%;
  margin-top: 50px;

}

.why-us-card header{
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 51px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.why-us-card .card-section{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.why-us-card #card{
  position: relative;
  width: 27%;
  min-width: 277px;
  height: 370px;
  margin-bottom: 50px;
  color: white;
  box-shadow: 10px 10px #FFDD03;
  background-color: #0A0A0A;
}

.why-us-card #card img{
  position: absolute;
  width: 35%;
  top: 2%;
  height: 18%;
  left: 50%;
  transform: translateX(-50%);

}

.why-us-card #card h1{
  display: block;
  text-align: center;
  width: 100%;
  font-size: 28px;
  height: 60px;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 0;
}

.why-us-card #card p{
  display: block;
  font-size: 14px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 32%;
}






/* web deelopment section */
.development{
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
  height: auto;
  /* background-image: url('../images/2.WEB-DEVELOPMENT/background.png'); */
  background-size: 100% 100%;
}

.development header{
  font-size: 57px;
  text-align: center;
  margin-bottom: 10px;
  transition: 0.2s ease-in-out;
}

.imgicon{
  width: 100%;
  height: 800px;
  position: relative;


}

.imgicon img{
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


.imgicon section{
  width: 10%;
  height: 9%;
  position: absolute;
  z-index: 1;
  display: block;
  padding: 2px;
  text-align: center;

}

.imgicon section#step-1{
  top: 9.5%;
  left: 38%;
}

.imgicon section span{
  display: block;
  width: 100%;
  color: black;
  font-weight: bold;
  line-height: 60px;
  font-size: 57px;
}

.imgicon section header{
  font-size: 24px;
  margin-top: -5px;
  width: 100%;

}

.imgicon section#step-2{
  top: 27%;
  left: 50%;
}


.imgicon section#step-3{
  top: 41%;
  left: 38%;
}

.imgicon section#step-4{
  top: 56%;
  left: 50%;
}

.imgicon section#step-5{
  top: 71%;
  left: 38%;
}

.imgicon p{
  display: block;
  width: 20%;
  font-size: 14px;
  position: absolute;
  text-align: center;
}

.imgicon p#step-1-para{
  top: 9%;
  left: 5%;
  color: #387CC3;
}

.imgicon p#step-2-para{
  top: 24%;
  left: 75%;
  color: #D63086;
}


.imgicon p#step-3-para{
  top: 41%;
  left: 5%;
  color: #F67213;
}


.imgicon p#step-4-para{
  top: 57%;
  left: 75%;
  color: #6A4291;
}


.imgicon p#step-5-para{
  top: 72%;
  left: 5%;
  color: #2FD67F;
}





/* web custom banner section */

.webbanner{
  margin: 10px 0px;
  width: 100%;
  background-color: #01C3A9;
  height: 400px;
  position: relative;
}

.webbanner img{
  width: 40%;
  height: 80%;
  position: absolute;
  top: 10%;
  right: 5%;
}

.webbanner p{
  display: block;
  position: absolute;
  width: 50%;
  left: 3%;
  font-size: 57px;
  line-height: 60px;
  top: 0;
}

.webbanner button{
  position: absolute;
  bottom: 5%;
  padding: 0;
  border-radius: 35px;
  overflow: hidden;
  border: none;
  left: 15%;
}

.webbanner button a{
  display: block;
  position: relative;
  z-index: 0;
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 20px 20px;
  background-color: orange;
}

.webbanner button a::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to top, purple, rgb(55, 235, 235)); */
  background-color: #939597;
  z-index: -1;
  transition: 0.4s ease;
  transform: scaleY(0);

}

.webbanner button a:hover::after{
  transform: scaleY(1);
}

/* cs language section */

.languages{
  width: 100%;
}

.languages header{
  font-size: 57px;
  text-align: center;
  text-shadow: 2px 2px lightblue;

}


.languages img{
  width: 150px;
  height: 100px;
  margin: 50px;
}


/* theme section */


/* why choose us section  */

.whychooseusasdigital{
  position: relative;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px;
  
}

.whychooseusasdigital header{
  font-size: 51px;
  font-weight: bold;
  color: white;
  text-align: center;
} 

.whychooseusasdigital .whybuiseness-scroll{
  width: 80%;
  overflow: hidden;
  margin: 0px auto;
  
}

.whybuisenessitem{
  display: flex;
  width: 400%;
  transition: 0.4s;
  perspective: 1000;
}

.whybuisenessitem .owl-2{
  flex-basis: 100%;
  height: 500px;
  display: flex;
}

.whyright,
.whyleft{
  position: absolute;
  color: white;
  padding: 10px;
  font-size: 40px;
  border-radius: 50%;
  top: 50%;
  cursor: pointer;
  align-items: center;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.whyright:hover,
.whyleft:hover{
  background-color: black;
}

.whyleft{
  left: 3%;
}

.whyright{
  right: 3%;
}


.whybuisenessitem img{
  width: 100%;
  height: 100%;
}



@media only screen and (min-width:1300px){
  .webfront h1{
    font-size: 61px;
    margin-top: 30px;
    font-weight: bold;
  }

  .webfront img{
    left: 344px;
  }

  .webfront h2{
    left: 10%;
  }

  .webfront{
    background-position-x: 13%;
  }

  .services{  
    width: 80%;
  }


  .services-block{
    width: 45%;
    right: 5%;
  }

  .services #one>.services-block{
    left: 5%;
  }

  .newdiv{
    height: 417px;
  }

  .howright,
  .howleft{
    font-size: 85px;
  }

  .howbuisenessitem .content{
    height: 300px;
    border-radius: 62px;
  }

  .howbuiseness .howbuiseness-scroll {
    width: 80%;
  }

  .howbuisenessitem .content-img {
    width: 80px;
    height: 80px;
    top: 25%;
  
  }

  .howbuisenessitem .content h3 {
    font-size: 24px;
    top: 60%;
  }

  .whychooseusasdigital .whybuiseness-scroll {
    width: 70%;
  }

  .whyright, .whyleft {
    font-size: 80px;
    background-color: rgba(0, 0, 0, 0.822);
    padding: 20px;
    transform: translateY(-25%);
  }

  .whyleft {
    left: 5%;
  }

  .whyright{
    right: 5%;
  }

  .whychooseusasdigital {
    margin-bottom: 150px;
  }

  .webbanner{
    height: 550px;
  }

  .webbanner p {
    top: 10%;
    left: 5%;
    width: 49%;
  }

  .webbanner button {
    bottom: 26%;
    left: 10%;
    border-radius: 50px;
  }

  .webbanner button a {
    font-size: 24px;
    padding: 30px 30px;

  }

  .why-us-card .card-section {
    width: 80%;
    margin: auto;
  }

  .why-us-card #card {
    box-shadow: 20px 20px #ffdd03;
  }
}


@media only screen and (max-width:1050px){
  .whychooseusasdigital header {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 800px){
  .whychooseusasdigital header {
    font-size: 30px;
  }

  .whyleft {
    left: 1%;
  }

  .whyright{
    right: 1%;
  }

  .webbanner p {
    /* margin: 0; */
    font-size: 40px;
    line-height: 44px;
  }

  .webbanner {
    height: 350px;
  }

  .webbanner button {
    left: 12%;
    bottom: 10%;
  }

  .why-us-card header {
    font-size: 30px;
  }

  .imgicon section header {
    font-size: 20px;
  }

  .imgicon section#step-3>header {
    margin-left: -10px;
  }

  .languages header {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px){
  .whychooseusasdigital header {
    font-size: 18px;
  }

  .whybuisenessitem .owl-2 {
    height: 300px;
  }

  .whyleft {
    left: 0;
    font-size: 30px;
    padding: 5px;
  }

  .whyright{
    right: 0;
    font-size: 30px;
    padding: 5px;
  }

  .webbanner p {
    margin: 0;
    margin-top: 10%;
    font-size: 22px;
    line-height: 27px;
  }

  .webbanner {
    height: 300px;
  }

  .webbanner button {
    left: 2%;
    bottom: 10%;
  }

  .webbanner button a{
    font-size: 16px;
  }

  .why-us-card header {
    font-size: 24px;
  }

  .development header {
    font-size: 30px;
  }

  .imgicon {
    height: 500px;
  }

  .imgicon section span {
    font-size: 40px;
    line-height: 43px;
  }

  .imgicon section header {
    font-size: 12px;
  
  }

  .imgicon p {
    font-size: 8px;
  }

  .languages img {
    width: 118px;
    height: 100px;
    margin: 10px;
  }
}

@media only screen and (max-width: 400px){

  .whyleft {
    left: 0;
    padding: 5px;
    font-size: 30px;
  }

  .whyright{
    right: 0;
    font-size: 30px;
    padding: 5px;
  }

  .webbanner p {
    margin: 0;
    margin-top: 10%;
    font-size: 18px;
    line-height: 20px;
  }

  .webbanner {
    height: 250px;
  }

  .webbanner button {
    left: 1%;
    bottom: 10%;
  }

  .webbanner button a{
    font-size: 14px;
  }

  .development header {
    font-size: 24px;
  }

  .imgicon p {
    font-size: 7px;
    width: 21%;
  }

  .languages img {
    width: 100px;
  }

  .languages header {
    font-size: 24px;
  }
  
}


/* banner section */
.portfolio-section{
  width: 100%;
  height: 450px;
  margin-top: 100px;
  position: relative;
  background-color: white;
  color: black;
}

.portfolio-section header{
  width: 100%;
  display: block;
  font-size: 41px;
  text-decoration: underline;
  height: 45px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.portfolio-section .mySlides1{
  display: none;
  position: relative;
  width: 100%;
  height: 400px;
}

.portfolio-section .mySlides1 img{
  width: 35%;
  height: 80%;
  position: absolute;
  box-shadow: 1px 1px 4px black;
  top: 10%;
  left: 4%;
}

.portfolio-section .mySlides1 .text{
  position: absolute;
  width: 50%;
  left: 44%;
  color: black;
  font-size: 38px;
}

.portfolio-section .mySlides1 p{
  position: absolute;
  width: 50%;
  left: 45%;
  top: 20%;
  color: black;
  font-size: 16px;
}

.portfolio-section .mySlides1 .numbertext{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.portfolio-section .mySlides1 button{
  position: absolute;
  top: 60%;
  left: 50%;
  padding: 10px 1px;
  background-color: transparent;
  border: 4px solid black;
  border-radius: 10px;
  transition: 0.4s ease;
}


.portfolio-section .mySlides1 button:hover{
  background-color: black;
  color: white;
}

.portfolio-section .mySlides1 button:hover>a{
  color: white;
}


.portfolio-section .mySlides1 button a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.4s ease;
}

.portfolio-section .mySlides1 button a:hover{
  color: white;
}


.portfolio-section .prevs , .portfolio-section .nexts{
  cursor: pointer;
  position: absolute;
  top: 82%;
  width: auto;
  transform: translateY(-50%);
  padding: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;

}

.portfolio-section .mySlides1 button.portfolio-contact{
  left: 70%;
}

.portfolio-section .prevs {
  left: 65%;
}


.portfolio-section .nexts{
  right: 26%;
}

.portfolio-section .prevs:hover, .portfolio-section .nexts:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 800px){
  .portfolio-section .mySlides1 button a {
    font-size: 10px;
  }


  .portfolio-section .prevs {
    left: 64%;
  }
}

@media only screen and (max-width:500px){


.portfolio-section .mySlides1 .text{
  font-size: 24px;
  left: 42%;
  font-weight: 600;
  width: 55%;
}

.portfolio-section .mySlides1 p {
  top: 15%;
  text-align: justify;
}

.portfolio-section .mySlides1 button {
  top: 70%;
  left: 45%;
  padding: 5px 1px;
}

.portfolio-section .mySlides1 button a {
  font-size: 9px;
  padding: 5px 6px;
}

.portfolio-section .prevs {
  left: 60%;
  top: 85%;
  padding: 10px;
}


.portfolio-section .nexts{
  right: 22%;
  top: 85%;
  padding: 10px;
}

.portfolio-section .mySlides1 .numbertext {
  left: 88%;
}
}

@media only screen and (max-width: 400px){
.portfolio-section header {
  font-size: 35px;
}

.portfolio-section .mySlides1 img {
  height: 55%;
}

.portfolio-section .mySlides1 .text {
  font-size: 20px;
}

.portfolio-section .mySlides1 p {
  top: 13%;
  font-size: 14px;
}

.portfolio-section .mySlides1 button.portfolio-contact {
  left: 35%;
}

.portfolio-section .mySlides1 button {
  left: 4%;
}

.portfolio-section .prevs {
  left: 73%;
  top: 75%;
}


.portfolio-section .nexts{
  right: 8%;
  top: 75%;
}
}


/* experties-section */

.expeties{
  display: block;
  width: 100%;
  justify-content: center;
  margin: 50px auto;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.842);
}

.expeties header{
  font-size: 40px;
  color: white;
  font-weight: 800;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 0px;

}

.expeties p{
  color: #706b6a;
  font-size: 20px;
  font-weight: 600;
  font-family: serif;
  padding-right: 10%;
}

.expeties #headm{
  padding-left: 5%;
}

.expeties .bar{
  list-style: none;
  background-color: #E7EDFD;
  color: black;
  height: 70px;
  display: flex;
  overflow: hidden;
}

.expeties .bar li{
  display: inline-flex;
  width: 18%;
  height: 100%;
}

.expeties .bar li:first-child{
  border-left: 1px solid black;
}

.bar li a{
  
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  padding: 15px;
  border-right: 1px solid black;
  position: relative;
  transition: 0.5s ease;
}

/* 

.bar li a::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 2px;
  background-color: black;
  transition: 0.5s ease;
  
}

.bar li a:hover::after{
  width: 100%;
} */

.bar li a.pactive, .bar li a:hover{
  background-color: #7256F2;
  color: white;
}

.webexperties{
  display: block;
  width: 100%;
  height: 350px;
  margin-top: -20px;
  position: relative;
  background-color: #161616;
  margin-bottom: 100px;
}

.webexperties p{
  position: absolute;
  color: white;
  width: 70%;
  left: 5%;
  top: 0;
  
  
}

.webexperties img{
  position: absolute;
  color: white;
  width: 20%;
  right: 2%;
  top: 2%;
  
  
}



.webexperties #backend{
  animation-name: fade;
  opacity: 0;
}

.webexperties #application, #frontend, #cms{
  opacity: 0;
}


/*  why brand choose us section */

.chooseus{
  width: 100%; 
  margin-bottom: 0px;
  margin-top: 100px;
  padding-bottom: 0;
  display: block;
}

.chooseus h1{
  text-align: center;
  font-size: 51px;
}

.chooseus .chooseus-items{
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 10px auto;
  justify-content: center;
}

.chooseus .chooseus-items section{
  display: block;
  position: relative;
  width: 260px;
  height: 420px;
  margin-left: 20px;
  
}

.chooseus .chooseus-items section img{
  width: 100%;
  height: 45%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.chooseus .chooseus-items section .section-item{
  width: 100%;
  position: absolute;
  top: 50%;
}


.chooseus .chooseus-items section .section-item header{
  font-size: 21px;
  color: #FF8C86;
  text-align: center;
}

.chooseus .chooseus-items section .section-item p{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 17px;
}

@media only screen and (min-width: 1300px){
  .imgicon p#step-1-para{
    top: 12%;
  }

  .imgicon p#step-2-para{
    top: 27%;
  }

  .chooseus .chooseus-items section {
    margin-left: 50px;
  }
}



@media only screen and (max-width: 800px){

  .bar li a {
    padding: 10px;
  }

  .expeties .bar li {
    width: 19%;
  }

  .expeties p{
    font-size: 18px;
    text-align: justify;
  }

  .chooseus .chooseus-items{
    width: 100%;
  }

  .chooseus .chooseus-items section {
    margin-left: 25px;
  }

}

@media only screen and (max-width: 500px){
  .bar li a {
    padding: 5px;
    font-size: 13px;
  }

  .expeties .bar li {
    width: 20%;
  }

  .expeties p{
    font-size: 12px;
    text-align: justify;
    
  }

  .webexperties p{
    width: 60%;
    left: 2%;

  }

  .expeties .bar{
    padding: 0;
  }

  .webexperties img {
    width: 35%;
    top: 5%;
    right: 1%;
  }

  .chooseus .chooseus-items section {
    margin-left: 0px;
  }
} 

@media only screen and (max-width: 400px){
  .bar li a {
    padding: 4px;
    font-size: 10px;
  }

  .expeties .bar{
    height: 55px;
  }
}



/* frequently asked question */

.faq{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

.faq header{
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  transition: 0.4s;
  height: auto;
  left: 0;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  color: #777;
  float: right;
  margin-left: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgba(20, 18, 18, 0.774);
  color: white;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.active:after, .accordion{
  background-color: white;
  color: black;
}

.active:hover{
  color: rgba(253, 246, 246, 0.849);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media only screen and (max-width: 600px) {
  .faq{
    width: 100%;
  }

}

@media only screen and (min-width: 600px) and (max-width :900px){
  .faq{
    width: 90%;
  }
}



/* get in touch section */

.getin{
  display: block;
  width: 100%;
  height: 400px;
  color: black;
  margin-top: 50px;
  background-color: #FEB501;
  position: relative;
}

.getin header{
  font-size: 35px;
  margin-left: 20px;
  font-weight: 900;
  padding-top: 30px;
  cursor: pointer;
  z-index: 1;

}

.getin p{
  display: block;
  width: 50%;
  float: left;
  padding-left: 30px;
  padding-top: 10px;
  font-family: serif;
  padding-right: 50px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;


}


.getin button{
  display: flex;
  position: relative;
  float: right;
  top: 60%;
  right: 15%;
  width: 180px;
  height: 50px;
  background-color: #939597;
  padding: 0;
  overflow: hidden;

}

.getin button a{
  /* background-color: black; */
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 700;
  height: 100%;
  width: 100%;
  transition: 1s ease;
  position: relative;
  z-index: 1;
  
}

.getin button a:hover{
  color: rgb(0, 0, 0);
}

.getin button a:before{
  content: "";
  width: 100%;
  align-items: center;
  height: 0px;
  background-color: #f5df4da2;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  z-index: -1;
  transition: 0.5s ease;
  transform: scaleY(0);

}

.getin button a:hover:before{
  transform: scaleY(1);
}


.getin img{
  width: 40%;
  height: 60%;
  position: absolute;
  top: 15%;
  right: 0;
}



@media only screen and (max-width: 800px){

  .bar li a {
    padding: 10px;
  }

  .expeties .bar li {
    width: 19%;
  }

  .expeties p{
    font-size: 18px;
    text-align: justify;
  }

  .chooseus .chooseus-items{
    width: 100%;
  }

  .chooseus .chooseus-items section {
    margin-left: 25px;
  }

  .getin img{
    top: 20%;
  }

  .getin p {
    font-size: 18px;
    width: 52%;
    line-height: 20px;
  }

}

@media only screen and (max-width: 500px){
  .bar li a {
    padding: 5px;
    font-size: 13px;
  }

  .expeties .bar li {
    width: 20%;
  }

  .expeties p{
    font-size: 12px;
    text-align: justify;
    
  }

  .webexperties p{
    width: 60%;
    left: 2%;

  }

  .expeties .bar{
    padding: 0;
  }

  .webexperties img {
    width: 35%;
    top: 5%;
    right: 1%;
  }

  .chooseus .chooseus-items section {
    margin-left: 0px;
  }

  .getin header {
    padding-top: 0px;
    font-size: 23px;
    margin-left: 10px;
  }

  .getin p {
    font-size: 14px;
    width: 54%; 
    padding-left: 15px;
    line-height: 16px;
  }

  .getin button {
    top: 4%;
    right: 1%;
  }

  .getin img {
    height: 50%;
  }
} 

@media only screen and (max-width: 400px){
  .bar li a {
    padding: 4px;
    font-size: 10px;
  }

  .expeties .bar{
    height: 55px;
  }

  .getin header {
    font-size: 21px;
  }

  .getin button {
    top: 1%;
    right: 5%;
}

}