.center-section section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.center-section section img{
    width: 388.89px;
    height: 280px;
    max-width: 50%;
    margin-bottom: 50px;
}

.center-section>section>p{
    display: block;
    width:742px;
    max-width: 75%;
    margin: auto;
    font-size: 16px;
    text-align: left;
}

/* second section  */

.second{
    width: 91%;
    margin-left: 7%;
    display: flex;
    margin-top: 100px;
}

.second section{
    width: 633px;
    max-width: 65%;
}

.second section p{
    font-size: 16px;
    text-align: left;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.second section p span{
    display: block;
    margin: 0;
    color: #0F3775;
    font-size: 37px;
    width: 100%;
    text-align: left;
    font-weight: bolder;
}

.second img{
    width: 35%;
    max-width: 341px;
    height: 300px;
    align-self: end;
}


.third{
    width: 85%;
    max-width: 800px;
    margin-left: 7%;
    margin-top: 100px;
}

.third span{
    width: 75%;
    max-width: 637px;
    display: block;
    margin-left: 25%;
    font-size: 16px;
    text-align: left;
}

.third h2{
    width: 75%;
    max-width: 637px;
    display: block;
    margin-left: 25%;
    text-align: left;
    font-size: 37px;
    color: #0F3775;
}

.third>section{
    display: flow-root;
    width: 100%;
}


.third .third-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.third .third-section img{
    width: 80px;
    height: 80px;
}

.third .third-section span{
    /* width: calc(75% + 80px); */
    width: 75%;
    max-width: 637px;
    display: block;
    margin-left: 0;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}

.third .third-section span h3{
    width: 100%;
    margin: 0;
    font-size: 21px;
    color: #0F3775;
}

.third span h3{
    font-size: 21px;
    color: #0F3775;
    margin: 0;
}

.third span#conclusion {
margin-top: 0;
}


/* four section  */

.four{
    display: flex;
    width: 95%;
    margin-top: 100px;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}

.four section{
    width: 65%;
    display: block;
    font-size: 16px;
    text-align: left;
}

.four section h3{
    font-size: 37px;
    color: #0F3775;
    font-weight: bold;
    display: block;
    margin: 0;
    margin-bottom: 20px;
}


.four img{
    width: 35%;
    max-width: 345.5px;
    height: 300px;
}


/* fifth section  */

.five{
    width: 90%;
    margin-left: 5%;
    margin-top: 100px;
    font-size: 18px;
    text-align: left;
}

.five h3{
    font-size: 37px;
    color: #0F3775;
    font-weight: bold;
    display: block;
    margin: 0;
    margin-bottom: 20px;
}